@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<dl>
    <dt>Author</dt>
    <dd><a href="https://github.com/PakkuDon">Pakkudon</a></dd>
    <dt>Repository</dt>
    <dd><a href="https://github.com/PakkuDon/Switchboard">GitHub</a></dd>
</dl>