body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    /* Set padding to keep content from hitting the edges */
    padding-left: 15px;
    padding-right: 15px;
    /* Fill remainder of page width and height */
    position: absolute;
    left: 250px;
    top: 51px;
    right: 0;
    bottom: 0;
    /* Display children in column format */
    display: flex;
    flex-flow: column wrap;
}

.navbar-inverse {
    background-color: #00282D;
}

.navbar-inverse .navbar-nav li a {
    color: #EEEEEE;
}

.navbar-inverse .navbar-brand {
    color: #EEEEEE;
}

.content {
    flex: 1 1 auto;
    position: relative;
}

.content a {
    color: #0A5A73;
}

.content > div {
    /* Fill parent container */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

footer {
    flex: 0 1 auto;
    border-top: 1px solid #0A5A73; 
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Sidebar and descendant elements */
.sidebar {
    color: #FFFFFF;
    background-color: #0A465A;
    position: absolute;
    top: 51px;
    left: 0;
    bottom: 0;
    width: 250px;
    padding: 5px;
}

/* Sidebar channel / actions list */
.sidebar ul {
    list-style-type: none;
    padding-left: 10px;
}

.sidebar li a {
    display: inline-block;
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.sidebar li a {
    color: #EEEEEE;
}

.sidebar li a.active {
    background-color: #286E87 !important;
    color: #EEEEEE;
}

.sidebar li a:hover {
    background-color: #0A5A73;
    text-decoration: none;
}

/* Loading icon */
.ajax-loader {
    width: 16px;
    height: 16px;
    background-image: url("ajax-loader.gif");
    vertical-align: middle;
    display: inline-block;
}

/* Channel view */
#channel-view {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
}

#channel-view #channel-header {
    flex: 0 1 auto;
}

#channel-view .posts {
    flex: 1 1 auto;
    overflow-y: auto;
}

#channel-view .reply-form {
    flex: 0 1 auto;
}

/* Individual posts */
.post {
    border-top: 1px solid #EEE;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 3s;
}

.post.new {
    background-color: #FFD;
    transition: background-color 3s;
}

.post.deleted {
    background-color: rgba(170, 0, 0, 0.1);
}

.post .actions {
    text-align: right;
}

.post .username {
    font-weight: bold;
}

.post .last-edited {
    border: 1px dotted #CCC;
    background-color: #FAFAFA;
    margin-top: 5px;
    padding: 5px 20px;
}

/* Flag list and items */
.flag-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}

.flag-item .quote {
    padding-left: 20px;
    border-left: 5px solid #EEE;
}

.flag-item .status:before {
    content: "Status: ";
}