@model IEnumerable<Switchboard.Models.Channel>

<ul id="channel-list">
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Name, "View", "Channel", new { id = item.ID }, null)</li>
    }
</ul>