@model IEnumerable<Switchboard.Models.Channel>

<div id="channels">
    <h4>Channels</h4>
    <div class="form-inline">
        @using (Html.BeginForm("Index", "Channel", FormMethod.Get, new { id = "channel-search" }))
        {
            @Html.TextBox("searchTerm", "", new { type = "text", placeholder = "Search channels", @class = "form-control" });
            <input type="submit" value="&#128270;" class="btn btn-default" />
        }

        <ul>
            @if (Model.Count() == 0)
            {
                <li>No channels found</li>
            }
            else
            {
                foreach (var item in Model)
                {
                    <li>@Html.ActionLink(item.Name, "View", "Channel", new { id = item.ID }, null)</li>
                }
            }
        </ul>

        <script>
            $(document).ready(function () {
                // Filter list of channels by search term
                $('#channel-search').submit(function (e) {
                    e.preventDefault();

                    var form = $('#channel-search');
                    $.get(form.attr('action'), form.serialize(), function (data, status) {
                        $('#channels').replaceWith(data);
                    });
                });
            });
        </script>
    </div>
</div>