@model Switchboard.Models.Channel

@{
    ViewBag.Title = Model.Name;
}

<div id="channel-view">
    <div id="channel-header">
        <h4>Viewing: @Html.DisplayFor(model => model.Name)</h4>
        <dl class="dl-vertical">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div class="posts">
        @foreach (var post in Model.Posts)
        {
            Html.RenderPartial("~/Views/Post/View.cshtml", post);
        }
    </div>
    <div class="post-form">
        @{Html.RenderPartial("~/Views/Post/Add.cshtml", new Switchboard.Models.Post { ChannelID = Model.ID });}
    </div>
</div>

@section Scripts {
    <!-- Reference SignalR scripts -->
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        // Connect to hub and wait for updates
        $(function () {
            var hub = $.connection.channelHub;
            // Register client-side callback
            hub.client.displayNewPost = function (postID) {
                console.log(postID);
                $.get("/Post/View", { id : postID }, function(data, status) {
                    $('.posts').append($(data));
                });
            }

            // Start connection
            $.connection.hub.start().done(function () { });
        });
    </script>
}