@model Switchboard.Models.Channel

@{
    ViewBag.Title = Model.Name;
}

<div id="channel-view">
    <div id="channel-header">
        <h4>Viewing: @Html.DisplayFor(model => model.Name)</h4>
        <dl class="dl-vertical">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div class="posts">
        @foreach (var post in Model.Posts)
        {
            <hr />
            Html.RenderPartial("~/Views/Post/View.cshtml", post);
        }
    </div>
    <div class="post-form">
        @{Html.RenderPartial("~/Views/Post/Add.cshtml", new Switchboard.Models.Post { ChannelID = Model.ID });}
    </div>
</div>