<h4>Actions</h4>
<ul>
    <li>@Html.ActionLink("Channels", "Index", "Channel")</li>
    <li>@Html.ActionLink("Members", "Index", "Member")</li>
    <li>@Html.ActionLink("Moderator Tools", "Index", "Home", new { area = "Moderator" }, null)</li>
    <li>@Html.ActionLink("Reports", "Index", "Report")</li>
</ul>
