<div class="modal-content">
    <div class="modal-header">
        <h4>Post flagged</h4>
    </div>
    <div class="modal-body">
        Report submitted successfully. 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>